{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": ["cva"],
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "tailwindStylesheet": "./src/styles/globals.css",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
