@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* Color mappings */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --animate-scaleUpAndDown: scaleUpAndDown 1.1s ease infinite;
  --animate-pingMd: pingMd 1.1s cubic-bezier(0, 0, 0.2, 1) infinite;
  --animate-pingSm: pingSm 1.1s cubic-bezier(0, 0, 0.2, 1) infinite;
  --animate-circleSvgGrow: circleSvgGrow 1200ms;
  --animate-loadingFadeIn:
    loadingFadeIn 500ms 600ms forwards, scaleUpAndDown 1.1s ease infinite;
  @keyframes scaleUpAndDown {
    0% {
      transform: scale(1);
    }
    55% {
      transform: scale(1.07);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes pingMd {
    95% {
      transform: scale(1.8);
      opacity: 0;
    }
    100% {
      transform: scale(1.8);
      opacity: 0;
    }
  }
  @keyframes pingSm {
    95% {
      transform: scale(1.5);
      opacity: 0;
    }
    100% {
      transform: scale(1.5);
      opacity: 0;
    }
  }
  @keyframes circleSvgGrow {
    from {
      stroke-dasharray: calc(var(--circumference) * 0), var(--circumference);
    }
    to {
      stroke-dasharray: calc(var(--circumference) * 0.25), var(--circumference);
    }
  }
  @keyframes loadingFadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.577 0.245 27.325);
  --primary-foreground: oklch(0.971 0.013 17.38);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.577 0.245 27.325);
  --accent-foreground: oklch(0.971 0.013 17.38);
  --destructive: oklch(0.58 0.22 27);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.808 0.114 19.571);
  --chart-2: oklch(0.637 0.237 25.331);
  --chart-3: oklch(0.577 0.245 27.325);
  --chart-4: oklch(0.505 0.213 27.518);
  --chart-5: oklch(0.444 0.177 26.899);
  --radius: 0;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.577 0.245 27.325);
  --sidebar-primary-foreground: oklch(0.971 0.013 17.38);
  --sidebar-accent: oklch(0.577 0.245 27.325);
  --sidebar-accent-foreground: oklch(0.971 0.013 17.38);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.637 0.237 25.331);
  --primary-foreground: oklch(0.971 0.013 17.38);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.637 0.237 25.331);
  --accent-foreground: oklch(0.971 0.013 17.38);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.808 0.114 19.571);
  --chart-2: oklch(0.637 0.237 25.331);
  --chart-3: oklch(0.577 0.245 27.325);
  --chart-4: oklch(0.505 0.213 27.518);
  --chart-5: oklch(0.444 0.177 26.899);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.637 0.237 25.331);
  --sidebar-primary-foreground: oklch(0.971 0.013 17.38);
  --sidebar-accent: oklch(0.637 0.237 25.331);
  --sidebar-accent-foreground: oklch(0.971 0.013 17.38);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply scroll-smooth border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::selection {
  color: var(--color-primary);
  background: var(--color-primary-foreground);
}

.prose {
  --tw-prose-body: var(--foreground) !important;
  --tw-prose-headings: var(--foreground) !important;
  --tw-prose-lead: var(--muted-foreground) !important;
  --tw-prose-links: var(--primary) !important;
  --tw-prose-bold: var(--foreground) !important;
  --tw-prose-counters: var(--muted-foreground) !important;
  --tw-prose-bullets: var(--primary) !important;
  --tw-prose-hr: var(--border) !important;
  --tw-prose-quotes: var(--foreground) !important;
  --tw-prose-quote-borders: var(--primary) !important;
  --tw-prose-captions: var(--muted-foreground) !important;
  --tw-prose-code: var(--foreground) !important;
  --tw-prose-pre-code: var(--muted-foreground) !important;
  --tw-prose-pre-bg: var(--muted) !important;
  --tw-prose-th-borders: var(--border) !important;
  --tw-prose-td-borders: var(--border) !important;
  --tw-prose-invert-body: var(--foreground) !important;
  --tw-prose-invert-headings: var(--foreground) !important;
  --tw-prose-invert-lead: var(--muted-foreground) !important;
  --tw-prose-invert-links: var(--primary) !important;
  --tw-prose-invert-bold: var(--foreground) !important;
  --tw-prose-invert-counters: var(--muted-foreground) !important;
  --tw-prose-invert-bullets: var(--primary) !important;
  --tw-prose-invert-hr: var(--border) !important;
  --tw-prose-invert-quotes: var(--foreground) !important;
  --tw-prose-invert-quote-borders: var(--primary) !important;
  --tw-prose-invert-captions: var(--muted-foreground) !important;
  --tw-prose-invert-code: var(--foreground) !important;
  --tw-prose-invert-pre-code: var(--muted-foreground) !important;
  --tw-prose-invert-pre-bg: var(--card) !important;
  --tw-prose-invert-th-borders: var(--border) !important;
  --tw-prose-invert-td-borders: var(--border) !important;
}
